
/* Конфигурация памяти */
.configuration__name{
    font-size: 16px;
    margin-top: 0;
    }
    /* Кнопка */
    .configuration__form{
        display: flex;
        list-style: none;
        padding: 0px;
        gap: 10px;
        margin: 0;
    }
    .configuration__button{
        align-items: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    border: 2px solid  #888888;
    border-radius: 4px;
    background-color: white;
    border-color: #888888;
    }
    .configuration__gb{
        font-weight: 500;
    font-size: 16px;
    margin: 0;
    }
    
    /* Выбранная статичная кнопка для цвет и конф памяти*/
    .btn_selected:hover{
        border: 2px solid #888888;
    border-radius: 4px;
    
    }
    .btn_selected:active {
        border: 2px solid #A93A09;
    border-radius: 4px;
    }
    
    /* При наведении курсора */
    .configuration_dang:hover {
        background-color: #F2F2F2;
        cursor: pointer;
    }

    /*выбранная*/

    .btn_selected128 {
        border: 2px solid #F36223;
    border-radius: 4px;
    }
    

    @media (min-width:360px) and (max-width: 1023.5px)  {

        /*конфиг памяти*/
        .configuration__name {
            font-size: 14px;
        }

        }