

/* Блок с формой */
.block-form{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 170px;
gap: 15px;
margin-top: 30px;
margin-bottom: 100px;
margin-top: 247px;
}
.block-form__name{
    font-weight: 700;
font-size: 16px;
line-height: 19px;
margin: 0;
}
.block-form__shape{
    display: flex;
flex-direction: column;
gap: 30px;
margin: 0;
max-width: 710px;
position: sticky;
top: 10px;
}
.shape__form{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0px;
    align-self: stretch;

}
.input-name{
    display: flex;
    flex-direction: column;
    width: 68%;
}
.input-rating{
    display: flex;
flex-direction: column;
width: 23.7%;
 }

.shape__name{
     box-sizing: border-box;
     justify-content: left;
     display: flex;
flex-direction: column;
align-items: flex-start;
    padding: 15px 20px ;
    font-weight: 500;
font-size: 16px;
color: #000000;
border: 1px solid  #888888;
}
.shape__name:hover{
    border: 1px solid #000000;
    cursor: pointer;
}
.shape__rating{
    box-sizing: border-box;
    justify-content: right;
 padding: 15px 20px;
font-weight: 500;
font-size: 16px;
color: #000000;
border: 1px solid  #888888;
}

.shape__rating:hover{
    border: 1px solid #000000;
    cursor: pointer;
}
.shape__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    font-weight: 500;
font-size: 16px;
color: #000000;
border: 1px solid  #888888;
resize: none;
max-width: 710px;
}
.shape__text:hover{
    border: 1px solid #000000;
    cursor: pointer;
}

.block-form__button{
    padding: 10px 20px;
    border: 1px solid #F36223;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    background: #F36223;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
}
.block-form__button:hover{
    background: #DA4A0C;
    border: 1px solid #F36223;
    cursor: pointer; 
}
.block-form__button:active{
    background: #A93A09;
    border: 1px solid #A93A09;
    border-radius: 4px; 
}

fieldset{
    border-style: none;
    padding: 0;
    margin: 0;
}
input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    }
    textarea::placeholder{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    
        }
/* Ошибка */

.error{
/*display: none;*/
padding: 8px 20px;
background: #DA4A0C;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #FFFFFF;
border: 1px solid #DA4A0C;
justify-content: space-between;
flex-wrap:wrap;
    position: absolute;
    z-index: 1;
    right: 228px;
    left: 0;
    top: 50px;
    max-width: 710px;
}

/*
.error.visible{
    display: block;
}*/
    .error2{
  /*  display: none;*/
    padding: 8px 20px;
    background: #DA4A0C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    border: 1px solid #DA4A0C;
    justify-content: space-between;
    flex-wrap:wrap;
    
    position: absolute;
    z-index: 1;
    right: 0px;
    left: 540px;
    top: 50px;
    }
  /*  .error2.visible{
        display: block;
    }*/
@media (min-width:1024px) and (max-width: 1499.5px)  {

.block-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 170px;
    gap: 15px;
    max-width: 710px;
}
.block-form{
    padding: 0px;
    max-width: 594px;
}
.block-form__shape{
    max-width: 594px;
}
.error2 {
    left: 451px;
}
.error {
    right: 190px;
}
}


@media (min-width:360px) and (max-width: 1023.5px)  {

/*добавить свой отзыв*/
.block-form{
    padding: 0px;
    max-width: 594px;
    margin-bottom: 40px;
    }
.block-form__shape {
    max-width: 335px;
    gap: 15px;
}
.shape__form {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
}
.input-name {
    width: 100%;
}
.shape__name{
    font-size: 14px;
}
.input-rating {
    width: 100%;
}
.shape__rating{
    font-size: 14px;
}
.shape__text {
    max-width: 335px;
    font-size: 14px;
}
.block-form__button {
    padding: 10px 15px;
    font-size: 14px;
    margin-top: 15px;
}
/*отзыв ошибка*/
.error {
    right: 0px;
    padding: 1px 20px;
    top: 48px;
}
.error2 {
    right: 0px;
    left: 0px;
    top: 112px;
    padding: 1px 20px;
}
}