@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

p{
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
    color: #888888;
    font-family: 'Inter', sans-serif;
font-size: 14px;
height: 240px;
}