@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body, input{
    margin: 0;
    font-family: 'Inter';
    }
.head{
    max-width: 1500px;
    margin: 0 auto;
    background: #F8FAFE; 
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    margin-top: -90px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    background: #F8FAFE; 
    position: relative;
    padding: 0px 50px 0px 50px;
    margin-top: 90px;
    }
.foote{
    max-width: 1500px;
    margin: 0 auto;
    background: #F2F2F2;
    position: relative;
    padding: 0px 50px 0px 50px;
}

    /* Шапка сайта */

.header{
    display: flex;
    align-items: center;
    padding: 19px 0px 8px 0px;
    gap: 10px;
    justify-content: space-between;
    }
.header__name{
    font-size: 44px;
    margin: 0;
}
.header__logo{
    height: 43px;
    width: 36.5px;
}
.header__icons{
    display: flex;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 20px;

}
/*
.icons {
    width: 50px;
    height: 50px; 
}*/
.icons__heart{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image:url("./imge/heart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: #F8FAFE;
    cursor: pointer; 
    margin-top: 6px;
}
.icons__basket{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image:url("./imge/basket.svg ");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: #F8FAFE;
    cursor: pointer; 
}
.icons__counter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.icons__number{
    padding: 3px 5px;
    position: absolute;
   background: #F36223;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
        color: #FFFFFF;
}


.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.cart-nav{
position: absolute;
right: 0;
display: flex;
gap: 20px;
justify-content: space-between;

}
.cart-nav .icon {
    font-size: 20px;
}
.cart-nav .icon {
    font-weight: 500;
}
.cart-nav .item-count{
   width: 10px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    margin-left: -36px;
    margin-top: -2px;
    padding: 3px 5px;
    background: #F36223;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.cart-nav .item-count2{
    width: 10px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    margin-left: -36px;
    margin-top: -2px;
    padding: 3px 5px;
    background: #F36223;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
 }

/* Хлебные крошки */
.container__breadcr{
    display: flex;
    align-items: center;
    padding: 19px 0px 8px 0px;
    gap: 4px;
}
.breadcr__links{
font-size: 16px;
color: #008CF0;
text-decoration: none;
}
.breadcr__links:hover {
   color: #F36223;
}
.breadcr__links:active {
    color: #A93A09;
 }
/* Название товара */
.main-title {
    margin: 0;
    display: flex;
    font-size: 32px;
    gap: 10px;
    padding: 0px 0px 20px;
    align-items: center;
}
    /* Фотографии товара */
.container__product-photos{
    display: flex;
}
.product-photos{
    display: flex;
    margin: 0 auto; 
gap: 10px;
}
.product-photos__photo{
    max-height: 400px;
} 
/* Контейнер с характеристиками */
    .container__specifications {
display: flex;
padding: 30px 0px 0px 0px;
gap: 100px;
justify-content: space-between;
    }
/* Все характеристики */
.specifications__all{
max-width: 880px;
display: flex;
flex-direction: column;
padding: 0px;
gap: 30px;
}
/* Цвет товара */
.characteric__name{
font-size: 16px;
margin-top: 0;
}
/* Выбор цвета */
.characteric__list{
display: flex;
align-items: flex-start;
padding: 0px;
gap: 10px;
}
.list{
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 10px;
    margin: 0;
}
.list :hover {
    background: #F2F2F2;
    cursor: pointer;
}
.square-image{
display: flex;
align-items: center;
justify-content: center;
width: 80px;
height: 80px;
border: 1px solid #888888;
border-radius: 4px;
box-sizing: border-box;
gap: 10px;
flex-direction: row;
padding: 0px;
background-color: white;
}
.square-image__selected:hover{
border: 2px solid #888888;
border-radius: 4px;
}
.square-image__selected:active {
border: 2px solid #A93A09;
border-radius: 4px;
}
/* Конфигурация памяти */
.configuration__name{
font-size: 16px;
margin-top: 0;
}
/* Кнопка */
.configuration__form{
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 10px;
    margin: 0;
}
.configuration__button{
    align-items: center;
display: flex;
box-sizing: border-box;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px 20px;
gap: 10px;
border: 2px solid  #888888;
border-radius: 4px;
background-color: white;
border-color: #888888;
}
.configuration__gb{
    font-weight: 500;
font-size: 16px;
margin: 0;
}

/* Выбранная статичная кнопка для цвет и конф памяти*/
.btn_selected:hover{
    border: 2px solid #888888;
border-radius: 4px;

}
.btn_selected:active {
    border: 2px solid #A93A09;
border-radius: 4px;
}

/* При наведении курсора */
.configuration_dang:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}
/* Характеристики товара */
.haraktert__name{
font-size: 16px;
font-weight: 700;
margin-top: 0;
}
/* Список */
.haraktert__spisok{
display: flex;
align-items: flex-start;
padding: 0px;
gap: 10px;
font-size: 16px;
font-weight: 500;
}
.haraktert__ul{
display: flex;
padding: 0 0 0 22px; 
margin: 0;
gap: 15px;
align-items: flex-start;
flex-direction: column;
}
.haraktert__li{
color: #888888;
}
.haraktert__color{
color:  #000000;
}
.haraktert__link{
font-weight: 500;
font-size: 16px;
color: #008CF0;
text-decoration: none;
}
.haraktert__link:hover {
    color: #F36223;
}
.haraktert__link:active {
    color: #A93A09;
    }
/* Описание*/
.opisanie__name{
font-size: 16px;
margin-top: 0;
}
/* Параграфы */
.opisanie__paragraf{
font-size: 16px;
}

/* Сравнение моделей */
.comparison{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
}
.comparison__name{
    font-weight: 700;
font-size: 16px;
margin: 0px;
}
.comparison__table{
    border: 1px solid #888888;
    width: 100%;
 }
.comparison__thead{
    font-weight: 700;
font-size: 16px;
padding: 10px;
margin: 0px;
}
.comparison__tbody{
    font-weight: 400;
font-size: 16px;
padding: 10px;
margin: 0px;
}
.comparison__text:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}
th{
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
}
td{
    border-right: 1px solid #888888;
}
.comparison__non{
    border-style: none;
}
.comparison__bottom{
    border-bottom: 1px solid #888888;
}
.tr {
    margin: 0px;
}


/* Секция с отзывами */
.review-section{
    margin-top: 25px;
}
.review-section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-section__wrapper{
    display: flex;
    gap: 10px;
}
.review-section__tirle{
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
}
.review-section__count{
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}


.review-section__list{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 40px;
}
/* Отзыв */
.review{
    display: flex;
    gap: 30px;
}
.review__photo{
    height: 140px ;
    border-radius: 100px;
    flex-shrink: 0;
}
.review__name{
    margin: 0;
}
.review__rating{
    margin-top: 10px;
}
.review__parameters{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.review__parameter{
    
    font-size: 14px;
}
.review__name{
    font-size: 20px;
}
/* Разделитель */
.separator{
    border-top: 1px dashed #888888;
    margin-left: 170px;
}

/* Блок с формой */
.block-form{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 170px;
gap: 15px;
margin-top: 30px;
margin-bottom: 100px;
}
.block-form__name{
    font-weight: 700;
font-size: 16px;
line-height: 19px;
margin: 0;
}
.block-form__shape{
    display: flex;
flex-direction: column;
gap: 30px;
margin: 0;
max-width: 710px;
position: sticky;
top: 10px;
}
.shape__form{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0px;
    align-self: stretch;

}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 665594b8ab4a85475124123e4b07b320c1fc139d
.input-name{
    display: flex;
    flex-direction: column;
    width: 68%;
}
.input-rating{
    display: flex;
flex-direction: column;
width: 24%;
 }
<<<<<<< HEAD
>>>>>>> homework-32
=======
>>>>>>> 665594b8ab4a85475124123e4b07b320c1fc139d

.shape__name{
     box-sizing: border-box;
     justify-content: left;
     display: flex;
flex-direction: column;
align-items: flex-start;
    padding: 15px 20px ;
    font-weight: 500;
font-size: 16px;
color: #000000;
border: 1px solid  #888888;
}
.shape__name:hover{
    border: 1px solid #000000;
    cursor: pointer;
}
.shape__rating{
    box-sizing: border-box;
    justify-content: right;
 padding: 15px 20px;
font-weight: 500;
font-size: 16px;
color: #000000;
border: 1px solid  #888888;
}

.shape__rating:hover{
    border: 1px solid #000000;
    cursor: pointer;
}
.shape__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    font-weight: 500;
font-size: 16px;
color: #000000;
border: 1px solid  #888888;
resize: none;
max-width: 710px;
}
.shape__text:hover{
    border: 1px solid #000000;
    cursor: pointer;
}

.block-form__button{
    padding: 10px 20px;
    border: 1px solid #F36223;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    background: #F36223;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
}
.block-form__button:hover{
    background: #DA4A0C;
    border: 1px solid #F36223;
    cursor: pointer; 
}
.block-form__button:active{
    background: #A93A09;
    border: 1px solid #A93A09;
    border-radius: 4px; 
}

fieldset{
    border-style: none;
    padding: 0;
    margin: 0;
}
input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    }
    textarea::placeholder{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    
        }
/* Ошибка */

.error{
display: none;
padding: 8px 20px;
background: #DA4A0C;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #FFFFFF;
border: 1px solid #DA4A0C;
justify-content: space-between;
flex-wrap:wrap;

    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    right: 228px;
    left: 0;
    top: 50px;
    max-width: 710px;
}
.error.visible{
    display: block;
}
    .error2{
        display: none;
        padding: 8px 20px;
        background: #DA4A0C;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        border: 1px solid #DA4A0C;
        justify-content: space-between;
        flex-wrap:wrap;
        
            flex-wrap: wrap;
            position: absolute;
            z-index: 1;
            right: 0px;
            left: 540px;
            top: 50px;
        }
        .error2.visible{
            display: block;
        }
/* Сайдбар */
    .specifications__saidbar {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 40px;
    max-width: 420px;
    }
    /* Важное */
    .saidbar-pricing{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    }
    /* Стоимость */
    .pricing{
    display: flex;
    flex-direction: column;
    padding:0px;
    gap: 10px;
    }

.pricing__favorites{
    display: flex;
    justify-content: space-between; 
}
    /* Старая стоимость */
    .pricing__old{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    }
    /* 75 990₽ */
    .pricing__oldprice{
    height: 16px; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888; 
    }
    /* Скидка */
    .pricing__discount{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px, 8px, 4px, 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    order: 1;
    flex-grow: 0;
    }
    /* -8% */
    .pricing__discount8{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    flex-grow: 0;
    }
    /* Актуальная стоимость */
    .pricing__new{
    font-size: 32px;
    margin: 0;
    font-weight: 500;
    color: #000000;
    }
    /* Доставка */
    .saidbar-delivery{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;
    }
    /* Самовывоз в четверг, 1 сентября — бесплатно */
    .delivery{
        font-weight: 400;
font-size: 16px;
        margin: 0;
    }

/*избранное*/

    li.favorite {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image:url("./imge/heard4.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        background-color: white;
        cursor: pointer; 
      }
      
      li.do {
        list-style: none;
      }
      .favorite::before{
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image:url("./imge/heard4.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        background-color: white;
        cursor: pointer; 
      }
      
      li.do::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
      background-image:url("./imge/heart5.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        background-color: white;
        cursor: pointer; 
    }
    .addFav {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
      background-image:url("./imge/heart5.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        background-color: white;
        cursor: pointer; 
    }



    /* Добавить в корзину старое*/
.saidbar__btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
padding: 20px;
gap: 15px;
background: #F36223;
border: 0px ;
border-radius: 4px;
margin: 0;
color: #FFFFFF;
font-size: 20px;
font-weight: 400;
}

.saidbar__btn:hover{
    background: #DA4A0C;
    cursor: pointer;  
}
.saidbar__btn:active{
    background: #A93A09;
    border-radius: 4px; 
}
.saidbar__btn::before{
 content: '';
    display: inline-block;
    margin: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}
/*отображение счетчика*/
.item__none span{
    display: none;
}

/*избранное*/
.favorites{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image:url("./imge/heard.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    background-color: white;
    cursor: pointer; 
}
.favorites:hover{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image:url("./imge/heard3.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    background-color: white;
}
.favorites:active{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image:url("./imge/heard2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    background-color: white;
}
    /* Реклама */
    .saidbar-reklama{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
     }
    /* Подпись */
    .reklama__name{
    font-size: 14px;
    color: #888888;
    margin: 0;
    }
    /* Список рекламы */
    .reklama__spisok{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    flex: none;
    max-width: 420px;

     
    }
    /* Рекламный блок */
    .reklama__one{
        box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 300px;
    width: 420px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    }
    .reklama__two{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 300px;
    width: 420px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    }

/* Подвал */
body{
    background: #F8FAFE; 
}
footer{
    background: #F2F2F2;
}
.cellar{
    max-width: 1500px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px ;
}
.cellar__content{
padding: 30px 0px;
}
.cellar__list{
list-style: none;
padding: 0;
margin: 0;
}
.cellar__text{
font-size: 14px;
}

.cellar__up{
font-weight: 400;
font-size: 16px;
color: #008CF0;
text-decoration: none;
}
.cellar__up:hover {
    color: #F36223;
}
.cellar__up:active {
    color: #A93A09;
    }
.cellar__link{
font-weight: 400;
font-size: 14px;
color: #008CF0;
text-decoration: none;
}
.cellar__link:hover {
    color: #F36223;
}
.cellar__link:active {
    color: #A93A09;
    }
.cellar__text-mob{
    display: none;
}


@media (min-width:1024px) and (max-width: 1499.5px)  {
    .container{
        max-width: 1024px;
        padding: 0px 15px 0px 15px;
    }
    .foote{
        max-width: 1024px;
        padding: 0px 15px 0px 15px;
    }
    .head{
        max-width: 1024px;
        padding: 0px 15px 0px 15px;
    }
    .comparison__table{
        display: none;
    }
    .comparison__name{
        display: none;
    }

    .product-photos__photo{
        max-height: 272px;
    } 
    .container__specifications {
        gap: 40px;
        }
    .specifications__all{
        max-width: 594px;
        }

    .specifications__saidbar {
        max-width: 320px;
    }
    .reklama__one {
        max-width: 320px;
    }
    .reklama__two{
        max-width: 320px;
    }
   
    .block-form{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 170px;
    gap: 15px;
    margin-top: 30px;
    max-width: 710px;
    }
    .review-section{
        margin-top: 0px;
    }
    .block-form{
    padding: 0px;
    max-width: 594px;
    }
    .block-form__shape{
    max-width: 594px;
    }
    .review__photo {
        height: 100px;
        border-radius: 100px;
        flex-shrink: 0;
    }
    .review__rating {
        margin-top: 10px;
        height: 20px;
    }
    .error2 {
        left: 451px;
    }
    .error {
        right: 190px;
    }
}


@media (min-width:360px) and (max-width: 1023.5px)  {
 /*логотип*/
.head{
    max-width: 360px;
    padding: 8px 10px;
    margin-top: -90px;
}
.header__name {
    font-size: 32px;
    }
.header__icons {
    gap: 10px;
}

/*
.icons {
    width: 30px;
    height: 30px;
}
.icons__number{
    font-size: 10px;
    line-height: 10px;
}*/

.icons__heart {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.cart-nav .item-count {
    font-size: 10px;
    line-height: 10px;
    width: 5px;
    height: 10px;
    margin-left: -20px;
    margin-top: -5px;
}
.cart-nav .item-count2 {
    font-size: 10px;
    line-height: 10px;
    width: 5px;
    height: 10px;
    margin-left: -20px;
    margin-top: -5px;
}
.wrapper{
    margin-top: 20px;
}
.wrapper .cart-nav {
    gap: 10px;
}
.icons__num{
    display: none;
}
.icons__basket {
    width: 30px;
    height: 30px;
}
/**/
.container{
    max-width: 360px;
    padding: 8px 10px ;
    right: 0;
    left: 0;
 }
/*хлебные крошки*/
.breadcr__links {
    font-size: 14px;
}
.container__breadcr {
    padding: 0px;
  }
/*название*/
.main-title {
    font-size: 24px; 
    padding: 8px 0px 20px 0px;
}
/*фото айфон слайдер*/
.product-photos{
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}
.product-photos__photo {
    display: inline-block;
    max-height: 272px;
} 
.container__specifications {
    flex-direction: column-reverse;
    gap: 30px;
    }
.specifications__all{
    max-width: 338px;
    gap: 20px;
}

/*саидбар*/
/*добавить в корзину*/
.pricing {
gap: 0px; 
}
.saidbar-delivery {
    padding: 0px ;
}

.saidbar-reklama{
    display: none;
}
.saidbar__btn{
    padding: 15px ;
}
/*выбор цвета*/
.list{
    display: flex;
    flex-wrap:wrap;
    gap: 8px;
}
.characteric__name {
    font-size: 14px;
}
.square-image {
    gap: 8px;
    height: 60px;
    width: 60px;
}
.square-image__image{
    width: 26px;
    height: 50px;
}


.comparison__table{
    display: none;
}
.comparison__name{
    display: none;
}


/*конфиг памяти*/
.configuration__name {
    font-size: 14px;
}
.opisanie__paragraf {
    font-size: 14px;
}

/*Характеристики товара*/
.haraktert__name {
    font-size: 14px;
}
.haraktert__spisok {
    font-size: 14px;
}

/*Описание*/
.opisanie__name {
    font-size: 14px;
}

/* Отзывы*/
.review-section__tirle {
    font-size: 20px;
}
.review-section__count {
    font-size: 20px;
}
.review {
    gap: 15px;
}
.review-section{
    margin-top: -20px;
}
.review__photo {
    height: 100px;
    border-radius: 100px;
    flex-shrink: 0;
}
.review__rating {
    margin-top: 10px;
    height: 20px;
}
.review__photo {
    height: 60px;
    border-radius: 60px
}
.separator {
    margin-left: 0px; 
}
.review__parameters{
    margin-left: -75px;
}

/*добавить свой отзыв*/
.block-form{
    padding: 0px;
    max-width: 594px;
    margin-top: 10px;
    margin-bottom: 40px;
    }
.block-form__shape {
    max-width: 335px;
    gap: 15px;
}
.shape__form {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
}
.input-name {
    width: 100%;
}
.shape__name{
    font-size: 14px;
}
.input-rating {
    width: 100%;
}
.shape__rating{
    font-size: 14px;
}
.shape__text {
    max-width: 335px;
    font-size: 14px;
}
.block-form__button {
    padding: 10px 15px;
    font-size: 14px;
    margin-top: 15px;
}

/*подвал*/
.foote {
    max-width: 360px;
    padding: 0px  ;
}
.cellars{
    padding: 8px 10px ;
    right: 0;
    left: 0;
}
.cellar {
    flex-direction: column;
align-items: flex-start;
}
.cellar__content {
    padding: 20px 0px; 
}
.cellar__text_br{
    display: none;
}

.error {
    right: 0px;
    padding: 1px 20px;
    top: 48px;
}
.error2 {
    right: 0px;
    left: 0px;
    top: 112px;
    padding: 1px 20px;
}
}

/*выбранная*/
.imgg0{
    border: 2px solid #F36223;
border-radius: 4px;
}
.ntt {
    border: 2px solid #F36223;
border-radius: 4px;
}


/*стрелки у оценки*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

