

/* Секция с отзывами */
.review-section{
    margin-top: 25px;
}
.review-section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-section__wrapper{
    display: flex;
    gap: 10px;
}
.review-section__tirle{
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
}
.review-section__count{
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}


.review-section__list{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 40px;
    margin-bottom: 81px;
}
/* Отзыв */
.review{
    display: flex;
    gap: 30px;
}
.review__photo{
    height: 140px ;
    border-radius: 100px;
    flex-shrink: 0;
}
.review__name{
    margin: 0;
}
.review__rating{
    margin-top: 10px;
}
.review__parameters{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.review__parameter{
    
    font-size: 14px;
}
.review__name{
    font-size: 20px;
}
/* Разделитель */
.separator{
    border-top: 1px dashed #888888;
    margin-left: 170px;
    margin-top: -316px;
}



@media (min-width:1024px) and (max-width: 1499.5px)  {
    .review__photo {
        height: 100px;
        border-radius: 100px;
        flex-shrink: 0;
    }
    .review__rating {
        margin-top: 10px;
        height: 20px;
    }
    .review-section {
        margin-top: -25px;
    }
    .separator {
        margin-left: 130px;
        margin-top: -324px;
    }
}
 


@media (min-width:360px) and (max-width: 1023.5px)  {
    /* Отзывы*/
    .review-section__tirle {
        font-size: 20px;
    }
    .review-section__count {
        font-size: 20px;
    }
    .review {
        gap: 15px;
    }
    .review-section{
        margin-top: -20px;
    }
    .review__photo {
        height: 100px;
        border-radius: 100px;
        flex-shrink: 0;
    }
    .review__rating {
        margin-top: 10px;
        height: 20px;
    }
    .review__photo {
        height: 60px;
        border-radius: 60px
    }
    .separator {
        margin-left: 0px; 
    }
    .review__parameters{
        margin-left: -75px;
    }
    }