.page{
    position: relative;
width: 1500px;
height: 1595px;

background: #F8FAFE;

}
.container-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;
}
.page__text{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

position: absolute;
width: 1500px;
height: 1365px;
left: 0px;
top: 119px;
}