@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.head {
  max-width: 1500px;
  margin: 0 auto;
  background: #f8fafe;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
  margin-top: -90px;
}

/* Шапка сайта */

.header {
  display: flex;
  align-items: center;
  padding: 18px 0px 9px 0px;
  gap: 10px;
  justify-content: space-between;
}
.header__decor {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header__name {
  font-size: 44px;
  margin: 0;
}
.header__name-style {
  color: #ff5722;
}
.header__icons {
  display: flex;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 20px;
}
/*
    .icons {
        width: 50px;
        height: 50px; 
    }*/
.icons__heart {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://i.ibb.co/3cQKw1Y/Vector-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: #f8fafe;
  cursor: pointer;
  margin-top: 6px;
}
.icons__basket {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://i.ibb.co/QmZtycZ/Vector-6.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: #f8fafe;
  cursor: pointer;
}
.icons__counter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.icons__number {
  padding: 3px 5px;
  position: absolute;
  background: #f36223;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-nav {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.cart-nav .icon {
  font-size: 20px;
}
.cart-nav .icon {
  font-weight: 500;
}
.cart-nav .item-count {
  width: 10px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  margin-left: -36px;
  margin-top: -2px;
  padding: 3px 5px;
  background: #f36223;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.cart-nav .item-count2 {
  width: 10px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  margin-left: -36px;
  margin-top: -2px;
  padding: 3px 5px;
  background: #f36223;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
/*отображение счетчика*/
.item__noneee {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1499.5px) {
  .head {
    max-width: 1024px;
    padding: 0px 15px 0px 15px;
  }
}

@media (min-width: 360px) and (max-width: 1023.5px) {
  /*логотип*/
  .head {
    max-width: 360px;
    margin-top: -55px;
    padding: 8px 10px;
  }
  .header {
    padding: 0px;
  }
  .header__name {
    font-size: 32px;
  }
  .header__icons {
    gap: 10px;
  }
  .header__logo {
    width: 23.76px;
    height: 30px;
  }
  .icons__heart {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
  .cart-nav .item-count {
    font-size: 10px;
    line-height: 10px;
    width: 5px;
    height: 10px;
    margin-left: -20px;
    margin-top: -5px;
  }
  .cart-nav .item-count2 {
    font-size: 10px;
    line-height: 10px;
    width: 5px;
    height: 10px;
    margin-left: -20px;
    margin-top: -5px;
  }
  .wrapper {
    margin-top: 20px;
  }
  .wrapper .cart-nav {
    gap: 10px;
  }
  .icons__num {
    display: none;
  }
  .icons__basket {
    width: 30px;
    height: 30px;
  }
}
