/* Сравнение моделей */
.comparison {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.comparison__name {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
}
.comparison__table {
  border: 1px solid #888888;
  width: 100%;
}
.comparison__thead {
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
  margin: 0px;
}
.comparison__tbody {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
}
.comparison__text:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
th {
  border-bottom: 1px solid #888888;
  border-right: 1px solid #888888;
}
td {
  border-right: 1px solid #888888;
  padding: 10px;
}
.comparison__non {
  border-style: none;
}
.comparison__bottom {
  border-bottom: 1px solid #888888;
}
.tr {
  margin: 0px;
}
@media (min-width: 1024px) and (max-width: 1499.5px) {
  .comparison {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 1023.5px) {
  .comparison {
    display: none;
  }
}
