@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.page-not-found {
  max-width: 1500px;
  margin: 0 auto;
  background: #f8fafe;
  position: relative;
  padding: 0px 50px 0px 50px;
  margin-top: 80px;
}
.page-not-found-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  height: 70vh;
}

.page-not-found__text {
margin: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  width: 423px;
}

.page-not-found__text-link {
  color: #008cf0;
  cursor: pointer;
}
.page-not-found__decor {
  text-decoration: none;
}
.page-not-found__text-link:hover {
  color: #f36223;
}
.page-not-found__text-link:active {
  color: #a93a09;
}

@media (min-width: 1024px) and (max-width: 1499.5px) {
  .page-not-found {
    max-width: 1024px;
    padding: 0px 15px 0px 15px;
  }
}
@media (min-width: 360px) and (max-width: 1023.5px) {
  .page-not-found {
    max-width: 360px;
    padding: 10px 10px 0px 10px;
    right: 0;
    left: 0;
    margin-top: 55px;
  }
  .page-not-found__text {
    width: 310px;
  }
}
