/* Сайдбар */
.specifications__saidbar {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 40px;
  max-width: 420px;
}
/* Важное */
.saidbar-pricing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
/* Стоимость */
.pricing {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 10px;
}

.pricing__favorites {
  display: flex;
  justify-content: space-between;
}
/* Старая стоимость */
.pricing__old {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
/* 75 990₽ */
.pricing__oldprice {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: line-through;
  color: #888888;
}
/* Скидка */
.pricing__discount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px, 8px, 4px, 8px;
  gap: 10px;
  width: 47px;
  height: 24px;
  background: #f36223;
  border-radius: 500px;
  order: 1;
  flex-grow: 0;
}
/* -8% */
.pricing__discount8 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  flex-grow: 0;
}
/* Актуальная стоимость */
.pricing__new {
  font-size: 32px;
  margin: 0;
  font-weight: 500;
  color: #000000;
}
/* Доставка */
.saidbar-delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 10px;
}
/* Самовывоз в четверг, 1 сентября — бесплатно */
.delivery {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

/*избранное*/

li.favorite {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  /* background-image:url("./heard.svg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}

li.do {
  list-style: none;
}
.favorite::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  /*    background-image:url("./imge/heard4.svg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}

li.do::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  /*     background-image:url("./imge/heart5.svg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}
/*избранное новое*/
.addFav__tab {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("https://i.ibb.co/VqsP2kP/image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}
.addFav {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("https://i.ibb.co/3cQKw1Y/Vector-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}
.addFav:hover {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("https://i.ibb.co/RbM3JMY/Vector-4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}
.addFav:active {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("https://i.ibb.co/s6Nb51k/Vector.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* Добавить в корзину новое*/
.saidbar__btn__tap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 74px;
  gap: 15px;
  background: #888888;
  border: 0px;
  border-radius: 4px;
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.saidbar__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 70px;
  gap: 15px;
  background: #f36223;
  border: 0px;
  border-radius: 4px;
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.saidbar__btn:hover {
  background: #da4a0c;
  cursor: pointer;
}
.saidbar__btn:active {
  background: #a93a09;
  border-radius: 4px;
}
.saidbar__btn::before {
  content: "";
  display: inline-block;
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

/*избранное*/
.favorites {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  /*  background-image:url("./imge/heard.svg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
  cursor: pointer;
}
.favorites:hover {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  /*   background-image:url("./imge/heard3.svg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
}
.favorites:active {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  /*   background-image:url("./imge/heard2.svg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: white;
}

/* Реклама */
.saidbar-advertisement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
/* Подпись */
.advertisement__name {
  font-size: 14px;
  color: #888888;
  margin: 0;
}
/* Список рекламы */
.advertisement__spisok {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  flex: none;
  max-width: 420px;
}
/* Рекламный блок */
.advertisement__one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 300px;
  width: 420px;
  background: #f0f0f0;
  border: 1px dashed #888888;
}
.advertisement__two {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 300px;
  width: 420px;
  background: #f0f0f0;
  border: 1px dashed #888888;
}

@media (min-width: 1024px) and (max-width: 1499.5px) {
  .specifications__saidbar {
    max-width: 320px;
  }
  .advertisement__one {
    max-width: 320px;
  }
  .advertisement__two {
    max-width: 320px;
  }
  .saidbar__btn__tap {
    padding: 20px 24px;
  }
  .saidbar__btn {
    padding: 20px 20px;
  }
}

@media (min-width: 360px) and (max-width: 1023.5px) {
  /*саидбар*/
  /*добавить в корзину*/
  .pricing {
    gap: 0px;
  }
  .saidbar-delivery {
    padding: 0px;
  }
  .saidbar-advertisement {
    display: none;
  }
  .saidbar__btn {
    padding: 15px 41px;
  }
  .saidbar__btn__tap {
    padding: 20px 44px;
  }
  .saidbar__btn {
    padding: 20px 40px;
  }
}
