@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.foote{
    max-width: 1500px;
    margin: 0 auto;
    background: #F2F2F2;
    position: relative;
    padding: 0px 50px 0px 50px;
}

footer{
    background: #F2F2F2;
}
.cellar{
    max-width: 1500px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px ;
}
.cellar__content{
padding: 30px 0px;
}
.cellar__list{
list-style: none;
padding: 0;
margin: 0;
}
.cellar__text{
font-size: 14px;
}

.cellar__up{
font-weight: 400;
font-size: 16px;
color: #008CF0;
text-decoration: none;
}
.cellar__up:hover {
    color: #F36223;
}
.cellar__up:active {
    color: #A93A09;
    }
.cellar__link{
font-weight: 400;
font-size: 14px;
color: #008CF0;
text-decoration: none;
}
.cellar__link:hover {
    color: #F36223;
}
.cellar__link:active {
    color: #A93A09;
    }
.cellar__text-mob{
    display: none;
}

@media (min-width:1024px) and (max-width: 1499.5px)  {

    .foote{
        max-width: 1024px;
        padding: 0px 15px 0px 15px;
    }
}

@media (min-width:360px) and (max-width: 1023.5px)  {  
   /*подвал*/
   .foote {
       max-width: 360px;
       padding: 0px  ;
   }
   .cellars{
       padding: 8px 10px ;
       right: 0;
       left: 0;
   }
   .cellar {
       flex-direction: column;
   align-items: flex-start;
   }
   .cellar__content {
       padding: 20px 0px; 
   }
   .cellar__text_br{
       display: none;
   }
   }
   

   