@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body,
input {
  margin: 0;
  font-family: "Inter";
}

body {
  background: #f8fafe;
}

.head {
  margin: 0 auto;
  background: #f8fafe;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: -80px;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  background: #f8fafe;
  position: relative;
  padding: 0px 50px 0px 50px;
  margin-top: 80px;
}
.foote {
  max-width: 1500px;
  margin: 0 auto;
  background: #f2f2f2;
  position: relative;
  padding: 0px 50px 0px 50px;
}

/* Название товара */
.main-title {
  margin: 0;
  display: flex;
  font-size: 32px;
  padding: 0px 0px 30px;
  align-items: center;
}
/* Фотографии товара */
.container__product-photos {
  display: flex;
}
.product-photos {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}
.product-photos__photo {
  max-height: 400px;
}
/* Контейнер с характеристиками */
.container__specifications {
  display: flex;
  padding: 30px 0px 0px 0px;
  gap: 100px;
  justify-content: space-between;
}
/* Все характеристики */
.specifications__all {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 30px;
}

/* Характеристики товара */
.haraktert__name {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}
/* Список */
.haraktert__spisok {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}
.haraktert__ul {
  display: flex;
  padding: 0 0 0 22px;
  margin: 0;
  gap: 15px;
  align-items: flex-start;
  flex-direction: column;
}
.haraktert__li {
  color: #888888;
}
.haraktert__color {
  color: #000000;
}
.haraktert__link {
  font-weight: 500;
  font-size: 16px;
  color: #008cf0;
  text-decoration: none;
}
.haraktert__link:hover {
  color: #f36223;
}
.haraktert__link:active {
  color: #a93a09;
}
/* Описание*/
.description__name {
  font-size: 16px;
  margin-top: 0;
}
/* Параграфы */
.description__paragraf {
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1499.5px) {
  .container {
    max-width: 1024px;
    padding: 0px 15px 0px 15px;
  }
  .product-photos__photo {
    max-height: 272px;
  }
  .container__specifications {
    gap: 40px;
  }
  .specifications__all {
    max-width: 594px;
  }
}

@media (min-width: 360px) and (max-width: 1023.5px) {
  .head {
    margin-top: -55px;
    padding: 8px 10px;
  }
  /**/
  .container {
    max-width: 360px;
    padding: 10px 10px 0px 10px;
    right: 0;
    left: 0;
    margin-top: 55px;
  }

  /*название*/
  .main-title {
    font-size: 24px;
    padding: 8px 0px 20px 0px;
  }
  /*фото айфон слайдер*/
  .product-photos {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .product-photos__photo {
    display: inline-block;
    max-height: 272px;
  }
  .container__specifications {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .specifications__all {
    max-width: 338px;
    gap: 20px;
  }
  /*Характеристики товара*/
  .haraktert__name {
    font-size: 14px;
  }
  .haraktert__spisok {
    font-size: 14px;
  }

  /*Описание*/
  .description__name {
    font-size: 14px;
  }
  .description__paragraf {
    font-size: 14px;
  }
}
@media (min-width: 1024px) and (max-width: 1499.5px) {
  .foote {
    max-width: 1024px;
    padding: 0px 15px 0px 15px;
  }
}
@media (min-width: 360px) and (max-width: 1023.5px) {
  /*подвал*/
  .foote {
    max-width: 360px;
    padding: 0px;
  }
  .cellars {
    padding: 8px 10px;
    right: 0;
    left: 0;
  }
  .cellar {
    flex-direction: column;
    align-items: flex-start;
  }
  .cellar__content {
    padding: 20px 0px;
  }
  .cellar__text_br {
    display: none;
  }
}


@media (min-width: 1024px) and (max-width: 1499.5px) {
  .specifications__saidbar {
    max-width: 320px;
  }
  .advertisement__one {
    max-width: 320px;
  }
  .advertisement__two {
    max-width: 320px;
  }
  .saidbar__btn__tap {
    padding: 20px 24px;
  }
  .saidbar__btn {
    padding: 20px 20px;
  }
}

@media (min-width: 360px) and (max-width: 1023.5px) {
  /*саидбар*/
  /*добавить в корзину*/
  .pricing {
    gap: 0px;
  }
  .saidbar-delivery {
    padding: 0px;
  }
  .saidbar-advertisement {
    display: none;
  }
  .saidbar__btn {
    padding: 15px 41px;
  }
  .saidbar__btn__tap {
    padding: 20px 44px;
  }
  .saidbar__btn {
    padding: 20px 40px;
  }
}