.page {
    max-width: 1500px;
    margin: 0 auto;
    background: #f8fafe;
    position: relative;
    padding: 0px 50px 0px 50px;
    margin-top: 80px;
  }

  .page__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
  }
  
  .page__text {
    margin-top: 750px;
    margin-bottom: 750px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    width: 423px;
  }
  .page__decor {
    text-decoration: none;
  }
  .page__text__link {
    color: #008cf0;
    cursor: pointer;
  }
  .page__text__link:hover {
    color: #f36223;
  }
  .page__text__link:active {
    color: #a93a09;
  }
  
  @media (min-width: 1024px) and (max-width: 1499.5px) {
    .page {
      max-width: 1024px;
      padding: 0px 15px 0px 15px;
    }
  }
  @media (min-width: 360px) and (max-width: 1023.5px) {
    .page {
      max-width: 360px;
      padding: 10px 10px 0px 10px;
      right: 0;
      left: 0;
      margin-top: 55px;
    }
    .page__text {
      width: 310px;
    }
  }
  