/* Хлебные крошки */
.container__breadcr {
  display: flex;
  align-items: center;
  padding: 18px 0px 8px 0px;
  gap: 4px;
}
.breadcr__links {
  font-size: 16px;
  color: #008cf0;
  text-decoration: none;
}
.breadcr__links:hover {
  color: #f36223;
}
.breadcr__links:active {
  color: #a93a09;
}

@media (min-width: 360px) and (max-width: 1023.5px) {
  .breadcr__links {
    font-size: 14px;
  }
  /*хлебные крошки*/

  .container__breadcr {
    padding: 0px;
    font-size: 14px;
  }
}
