
/* Цвет товара */
.characteric__name{
    font-size: 16px;
    margin-top: 0;
    }
    /* Выбор цвета */
    .characteric__list{
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    }
    .list{
        display: flex;
        list-style: none;
        padding: 0px;
        gap: 10px;
        margin: 0;
    }
    .list :hover {
        background: #F2F2F2;
        cursor: pointer;
    }
    .square-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
    flex-direction: row;
    padding: 0px;
    background-color: white;
    }
    .square-image__selected:hover{
    border: 2px solid #888888;
    border-radius: 4px;
    }
    .square-image__selected:active {
    border: 2px solid #A93A09;
    border-radius: 4px;
    }

    /*выбранная*/
.square-image__selected-blue{
    border: 2px solid #F36223;
border-radius: 4px;
}

@media (min-width:360px) and (max-width: 1023.5px)  {

/*выбор цвета*/
.list{
    display: flex;
    flex-wrap:wrap;
    gap: 8px;
}
.characteric__name {
    font-size: 14px;
}
.square-image {
    gap: 8px;
    height: 60px;
    width: 60px;
}
.square-image__image{
    width: 26px;
    height: 50px;
}


    }
